{% extends 'base.html' %}

{% block content %}

    <div class="container justify-content-center">
        <div class="container">
            <h4 class="display-4">Set further options</h4>
        </div>
        <div class="container">
            <form action="" method="POST">
                {{ form.hidden_tag() }}

                {% for subfield in form.resturaunts %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                {% endfor %}
                <button class="btn btn-lg btn-success" id="submit">Submit!</button>
            </form>
        </div>
    </div>

{% endblock %}