{% extends 'base.html' %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="container">
            <h3 class="display-3">
                Welcome to SpeedEats! 
            </h3>
            <p>
                This is <bold>the</bold> destination when you and your friends
                cannot decide where to eat. <a href="/login">Log in</a> to view 
                current parties, or <a href="/signup">Sign up</a> to create a party
                and invite your friends so that you can collectively decide where to eat!
            </p>
        </div>
    </div>
{% endblock %}