{% extends 'base.html' %}

{% block content %}

    <div class="container justify-content-center">
        <div class="container">
            <h3 class="display-3">
                404, database error.
            </h3>
        </div>
        
        <div class="container">
            <p class="text">We're sorry, it appears 
                that we are having some issues accessing required 
                resources. We are working to resolve this issue, and will be back 
                as soon as we possibly can. Have a woderful day!
            </p>
        </div>
        
    </div>
    

 {% endblock %}