<div class="card">
    <h5 class="card-title">{{resturaunt.name}}</h5>
    <img src="{{resturaunt.image_url}}" class="card-img-top">
    <p class="card-text">
        <ul class="list-group">
            <li class="list-group-item">Address: {{ resturaunt.get_full_address() }}</li>
            <li class="list-group-item">Website: <a class="badge bg-success" href="{{ resturaunt.url }}" >Check it out</a></li>
            <li class="list-group-item">
                Number of Votes: {{ resturaunt.votes | length }}
            </li>
        </ul>
    </p>
</div>